/*Grupo:003, Nomes: Francisco Pimenta - 54973, Pedro Quintão - 54971, Miguel Duarte - 54941, Gonçalo Ferreira - 55166*/

.workspace {
    display: flex;
    flex-wrap: wrap;
}

.workspace .option-item {
    display: block;
    position: relative; 
    margin: 10px;
}

.option-item .option-inner {
    width: 253px;
    height: 145px;
    border-radius: 5px;
    border: 5px solid transparent;
    text-align: center;
}

.option-item .checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    opacity: 0;
}

.option-item .option-inner img {
    margin-bottom: 10px;
}

.option-item .checkbox:checked ~ .option-inner {
    border-color: black;
}


#popUpTabela1 {
    display: flex;
    flex-wrap: wrap;
}

#popUpTabela1 .option-item {
    display: block;
    position: relative; 
    margin: 10px;
}

.option-item .option-inner {
    width: 253px;
    height: 145px;
    border-radius: 5px;
    border: 5px solid transparent;
    text-align: center;
}

.option-item .checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    opacity: 0;
}

.option-item .option-inner img {
    margin-bottom: 10px;
}

.option-item .checkbox:checked ~ .option-inner {
    border-color: black;
}










/* POPUP PARA SELECIONAR AS FOTOGRAFIAS DO ALBUM CRIADO ALBUM.HTML*/

#popUpTabela1 {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 80%;
    margin-left: 92px;
    z-index: 9;
    overflow-y: scroll;
    overflow-x: hidden;
}

#popUpTabela1 .option-item {
    display: block;
    position: relative; 
    margin: 10px;
}

.option-item-album .option-inner-album {
    width: 200px;
    height: 140px;
    border-radius: 5px;
    border: 5px solid transparent;
    text-align: center;
}

.option-item-album .checkbox-album {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    opacity: 1;
}

.option-item-album .option-inner-album img {
    margin-bottom: 10px;
}

.option-item-album .checkbox-album:checked ~ .option-inner-album {
    border-color: black;
}

#seleciona-fotos-album {
    position: absolute;
    background-color: white;
    width: 70%;
    height: 10%;
    margin-left: 92px;
    bottom: 530px;
    z-index: 9;
}

#seleciona-fotos-album p {
    text-align: center  ;
}

#seleciona-fotos-album button {
    position: relative;
    right: 70px;
}
/* --------------------------------------- */

#popUpTabela1{
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    margin: auto;
    z-index: 9;
    width: 70%;
    height: 70%;
    margin-left: 92px;
    bottom: 30px;
    z-index: 9;
}


















#seleciona-fotos-album {
    position: absolute;
    position: fixed;
    background-color: white;
    width: 970px;
    height: 70px;
    margin-bottom: 620px;
    z-index: 9; 
}

#seleciona-fotos-album p {
    text-align: center  ;
    width: 290px;
    margin-left: 300px;
}