/*Grupo:003, Nomes: Francisco Pimenta - 54973, Pedro Quintão - 54971, Miguel Duarte - 54941, Gonçalo Ferreira - 55166*/

.workspace {
    display: flex;
    flex-wrap: wrap;
}

.workspace .option-item {
    display: block;
    position: relative; 
    margin: 10px;
}

.option-item .option-inner {
    width: 253px;
    height: 145px;
    border-radius: 5px;
    border: 5px solid transparent;
    text-align: center;
}

.option-item .checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    opacity: 0;
}

.option-item .option-inner img {
    margin-bottom: 10px;
}

.option-item .checkbox:checked ~ .option-inner {
    border-color: black;
}