.container {
    margin: auto;
    width: 1280px;
    height: 720px;
    background-color: grey;
    display: grid;
    grid-template: auto  auto / 200px auto;
    
}

header {
    grid-area: 1 / 1 / span 1 / span 2;
    background-color: aquamarine;
    height: fit-content;
}

header h1 {
    padding: 0px 20px;
}


.loginDiv{
    bottom: 20px;
    border: 1px;
    border-style: solid;
    text-align: center;
    text-decoration-style: solid;
}



.registerDiv{

    bottom: 0px;
    border: 1px;
    border-style: solid;
    text-align: center;
    text-decoration: solid;
}


.menu {    
    background-color: grey;
    float: left;
    margin-bottom: 450px;
    height: 100%;
    border-style: dashed;
}

nav a{
	display: block;
    color: black;
    border: 2px;
    margin-bottom: 2px;
    background-color: red;
    text-align: center;
    border-style: solid;
    text-decoration: none;
	padding: 8px 20px;
	font-family: Lucida Console;
}

.workspace {
    grid-area: 2 / 2 /span 1 / span 1;
    background-color: moccasin;
}