/*Grupo:003, Nomes: Francisco Pimenta - 54973, Pedro Quintão - 54971, Miguel Duarte - 54941, Gonçalo Ferreira - 55166*/

.container {
    margin: auto;
    position: relative;
    width: 1280px;
    height: 720px;
    background-color: grey;
    display: grid;
    grid-template: 80px  auto / 200px auto auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#memento-top-left {
    margin: 20px;
    margin-left: 25px;
}
header {
    grid-area: 1 / 1 / span 1 / span 1;
    background-color: grey;
    height: fit-content;
}

header h1 {
    padding: 0px 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header a {
    text-decoration: none;
}

#top-right-bar {
    grid-area: 1 / 2 / span 1 / span 3;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightgray;
    text-align: center;
    align-items: center;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
}

#side-bar {    
    background-color: lightgray;
    grid-area: 2 / 1 / span 2 / span 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.menu {
    float: center;
    height: auto;
    grid-area: 1 / 1 / span 1 / span 1;
}

#memento {
    grid-area: 2 / 1 / span 1 / span 1;
    text-align: center;
    padding-top: 20px;
}

#currentpage {
    background-color: beige;
}

nav a{
    color: black;
	display: block;
    margin-bottom: 2px;
    text-align: left;
    text-decoration: none;
    padding-top: 8px;
    padding-left: 20px;
    font-size: x-large;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.workspace {
    grid-area: 2 / 2 /span 2 / span 3;
    background-color: beige;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

#top_row_icons {
    margin-top: 0px;
    margin-bottom: 30px;
    display: inline-block;
}

#pc_icon {
    margin-right: 50px;
}

#onedrive_icon {
    margin-right: 50px;
}

#flickr_icon {
    margin-right: 50px;
}

#dropbox_icon {
    margin-right: 50px;
}


/* popup importar*/
.importing_modal {
    display: none;
    position: absolute;
    top: 230px;
    right: 230px;
    width: 640px;
    height: 380px;
}

.modal_content {
    background-color: whitesmoke;
    padding-right: 5px;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

/*POPUP na pagina album*/
.album_modal {
    display: none;
    position: absolute;
    top: 230px;
    right: 355px;
    width: 400px;
    height: 160px;
}

.album_modal_content {
    background-color: whitesmoke;
    padding-right: 5px;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

#close_button {
    color:black;
    float: right;
    font-size: 30px;
    cursor: pointer;
}

.dimmer {
    position: fixed;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: 8;
    opacity: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: 40px;
    padding-left: 40px;
}

.grid-container p {
    margin-top: 0px;
    font-size: large;
    text-align: center;
}

.grid-item {
    display: none;
    font-size: 30px;
    text-align: center;
    align-items: center;
    height: 95px;
    width: 160px;
}

#left-top-bar {
    grid-area: 1 / 1 / 1 / 2;
    text-align: left;
}

#centro-top-bar {
    grid-area: 1 / 2 / 1 / 3;
    text-align: center;
}

#right-top-bar {
    grid-area: 1 / 3 / span 1 / 4;
    text-align: right;
}

#file_franca {
    margin-left: 8px;
    margin-right: 8px;
}

.popup{
    position: absolute;
    padding: 2px;
    margin: auto; 
    left: 478px;
    top: 88%;         
    width: 40%;
    height: 8%;
    background-color: rgb(253, 255, 157);
    z-index: 9;
    display: none;
}

.popup, p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    font-size: 110%;
    padding-left: 10px;
    padding-bottom: 10px;
}

#nome-album {
    margin-bottom: 10px;
}

#botao-cancelar {
    width: 105px;
    height: 45px;
}

#botao-confirmar {  
    width: 105px;
    height: 45px;
}

#botao-confirmar a{
    text-decoration: none;
    color: black;
}

#botao-popup {
    position: absolute;
    right: 30px;
    top: 25px;
    width: 60px;
}

.disabled {
    pointer-events: none;
}

#fotos-album {
    position: relative;
    margin: auto;
}

#fotos-album td {
    padding: 2px;
}


#fundo-fotos-album {
    display: none;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    margin: auto;
    z-index: 9;
    width: 70%;
    height: 70%;
    margin-left: 92px;
    bottom: 30px;
}

#opcoes-album {
    display: none;
    position: absolute;
    background-color: white;
    width: 70%;
    height: 10%;
    margin-left: 92px;
    bottom: 530px;
    text-align: center;
    z-index: 9;
}

#opcoes-album p {
    text-align: center;
}

.closeButton {
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 7px;
    top: 1%;

}

#tabela {
    display: none;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

#tabela .option-item {
    display: none;
    position: relative; 
}

.option-item .option-inner {
    position: relative;
    width: 255px;
    height: 145px;
    border-radius: 5px;
    border: 5px solid transparent;
    text-align: center;
}

.option-item .checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    opacity: 0;
}

.option-item .checkbox:checked ~ .option-inner {
    border-color: black;
}


#tabela .option-item {
    display: none;
    position: relative; 
}

.closeButton1 {
    width: 7%;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: -1%;
    top: 3%;

}

#p-importar{
    padding-top: 5px;
    height: 10px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tabela .option-item-album {
    display: none;
    position: relative; 
}

/* POPUP PARA SELECIONAR AS FOTOGRAFIAS DO ALBUM CRIADO ALBUM.HTML*/

#popUpTabela1 {
    position: absolute;
    background-color: white;
    display: flex;
    display: none;
    flex-wrap: wrap;
    width: 70%;
    height: 70%;
    margin-left: 92px;
    z-index: 9;
    bottom: 26px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#popUpTabela1 .option-item {
    display: block;
    position: relative; 
    margin: 10px;
}

.option-item-album .option-inner-album {
    width: 200px;
    height: 140px;
    border-radius: 5px;
    border: 5px solid transparent;
    text-align: center;
    margin: 3px;
}

.option-item-album .checkbox-album {
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.option-item-album .option-inner-album img {
    margin-bottom: 10px;
}

.option-item-album .checkbox-album:checked ~ .option-inner-album {
    border-color: black;
}

#seleciona-fotos-album {
    display: none;
    position: absolute;
    background-color: white;
    width: 70%;
    height: 10%;
    margin-left: 92px;
    bottom: 530px;
    z-index: 9;
}

#seleciona-fotos-album p {
    text-align: center  ;
    width: 290px;
    margin-left: 300px;
}

#botao-confirmar-selecao{   
    position: absolute;
    right: 90px;
    top: 13px;
    width: 105px;
    height: 45px;  
}



/* --------------------------------------- */

.popupAlbum{
    position: absolute;
    padding: 2px;
    margin: auto; 
    left: 530px;
    top: 88%;         
    width: 32%;
    height: 8%;
    background-color: rgb(253, 255, 157);
    z-index: 9;
    display: none;
    border-radius: 10px;
}

#popup-sem-fotos{
    position: absolute;
    padding: 2px;
    left: 520px;
    top: 88%;         
    width: 34%;
    height: 8%;
    background-color: rgb(238, 148, 148);
    z-index: 9;
    display: none;
    border-radius: 10px;
}
